/*
  COLOUR PALLETTE:
  RED: #FF395E
  TEAL-ISH: #8FECC8
  L-GREY: #6F6F6F
  D-GREY: #4A4A4A
*/

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.top-bar-wrapper {
    width: 100%;
    min-height: 70px;
    height: auto;
    color: #fff;
    background-color: #FF395E;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-bar-logo-left {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 30px;
  position: absolute;
  float: left;
}

.top-bar-wrapper .top-bar-title {
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.main-content-wrapper {

}

.main-content-wrapper .main-content-info-wrapper {
  padding: 35px;
  background-color: #bbb;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

.main-content-wrapper .main-content-info-wrapper .main-content-info {

}

.main-content-wrapper .form-data-wrapper {
  width: 20vw;
  margin: 0 auto;
}

form .top, form .bottom {
  display: inline-block;
}
