{% load static %}
{% csrf_token %}

<script src="{% static "js/app.js" %}"></script>
<div class="main-content-wrapper">
  <div class="top-bar-wrapper">
    <div class="top-bar-title">SelfDecode - The A/B statistical significance calculator</div>
  </div>
  <div class="main-content-wrapper">
    <div class="main-content-info-wrapper">
      <div class="main-content-info">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
    </div>
  </div>
  <div class="form-data-wrapper form-group">
    <form action="/landing/" method="post">
      <div class="form-group top">
          {{form.control_visitors.label}}
          {{form.control_visitors}}
          {{form.control_conversions.label}}
          {{form.control_conversions}}
      </div>
      <div class="form-group bottom">
          {{form.variation_visitors.label}}
          {{form.variation_visitors}}
          {{form.variation_conversions.label}}
          {{form.variation_conversions}}
      </div>
    </form>
  </div>
  <div class="footer-section">
  </div>
</div>
